/* .selector{
  background-color: rgb(0, 0, 255);
  color: rgb(238, 238, 238);
} */

/* .selector{
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 255);

} */
.selector{
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 255);
  font-size: large;

}
